:root {
    --md-accent-fg-color: #8bc34b;
    --md-accent-font-color: #8bc34b;
}

.md-grid {
  max-width: 1200px; 
}

.md-header__source {
    background-image: url("/img/logo-ga4gh-circle-42x42.png");
    background-repeat: no-repeat;
    background-position: right; 
}

h2 {
    border-top:  #8bc34b thin solid;
    border-bottom:  #8bc34b thin solid;
}

aside.blog-post-aside {
    border-top:  #8bc34b thin solid;
    margin-top:  24px;
    padding-top:  12px;
}

div.contact_spacer {
    display:  block;
    height:  20px;
}

h3.title_news {
    margin-top:  10px;
    margin-bottom:  0px;
}

div.tabbed-set {
    background-color:  #fafafa;
}

.tabbed-content {
    padding:  5px;
}

li li {
    list-style-type: circle;
}

li li li {
    list-style-type: "–";
    font-size: 0.9em;
}

.mermaid {
  display: flex;
  justify-content: center;
}
